parse_config:
  zmk_additional_includes:
    - "modules/zmk/helpers/include"
  zmk_preamble: |
    #include <zmk-helpers/key-labels/34.h>
    #define CONFIG_WIRELESS
  raw_binding_map:
    "&sys_reset": Reset
    "&bootloader": Boot
    "&caps_word": Caps Word

    "&bt BT_SEL 0": BT1
    "&bt BT_SEL 1": BT2
    "&bt BT_SEL 2": BT3
    "&bt BT_SEL 3": BT4

    "&kp LC(INS)": Copy
    "&kp LC(X)": Cut
    "&kp LS(INS)": Paste

    "&kp LG(LC(LEFT))": Prev Desk
    "&kp LG(LC(RIGHT))": Next Desk
    "&kp LG(LC(LS(A)))": Pin App
    "&kp LG(LC(LS(Q)))": Pin Win

    "&swapper": Next Win
    "&kp LS(TAB)": Prev Win
    "&dot_spc": Sentence
    "&num_dance": { "t": "Numword", "s": "Sticky Num" }
    "&magic_shift": { "t": Magic, "h": "Shift" }
    "&smart_mouse": Smart Mouse

    "&hml LS(LALT)TAB": Tab
    "&hm_combo_ldr": Leader
    "&hm_combo_ldrsh": Shift+Leader
    "&hm_combo_lpar": { "t": "(", "right": "<" }
    "&hm_combo_rpar": { "t": ")", "right": ">" }
    "&kp LBKT": { "t": "[", "right": "{" }
    "&kp RBKT": { "t": "]", "right": "}" }

    "&mmv MOVE_UP": Mouse ↑
    "&mmv MOVE_DOWN": Mouse ↓
    "&mmv MOVE_LEFT": Mouse ←
    "&mmv MOVE_RIGHT": Mouse →

    "&msc SCRL_UP": Scroll ↑
    "&msc SCRL_DOWN": Scroll ↓
    "&msc SCRL_LEFT": Scroll ←
    "&msc SCRL_RIGHT": Scroll →

    "&mkp LCLK": Left Click
    "&mkp RCLK": Right Click
    "&mkp MCLK": Middle Click
    "&mkp MB4": Back Click
    "&mkp MB5": Forward Click

    # Home row mods with type for coloring
    "&hml LSHFT A": {t: A, h: Shift, type: mod}
    "&hml LCTRL R": {t: R, h: Ctrl, type: mod}
    "&hml LALT S": {t: S, h: Alt, type: mod}
    "&hml LGUI T": {t: T, h: Gui, type: mod}
    "&hmr RGUI N": {t: N, h: Gui, type: mod}
    "&hmr RALT E": {t: E, h: Alt, type: mod}
    "&hmr RCTRL I": {t: I, h: Ctrl, type: mod}
    "&hmr RSHFT O": {t: O, h: Shift, type: mod}
    # QWERTY HRMs
    "&hml LCTRL S": {t: S, h: Ctrl, type: mod}
    "&hml LALT D": {t: D, h: Alt, type: mod}
    "&hml LGUI F": {t: F, h: Gui, type: mod}
    "&hmr RGUI J": {t: J, h: Gui, type: mod}
    "&hmr RALT K": {t: K, h: Alt, type: mod}
    "&hmr RCTRL L": {t: L, h: Ctrl, type: mod}
    "&hmr RSHFT SEMI": {t: ";", h: Shift, type: mod}
    # Sticky modifiers
    "&sk LSHFT": {t: Shift, h: sticky, type: mod}
    "&sk RSHFT": {t: Shift, h: sticky, type: mod}
    "&sk LCTRL": {t: Ctrl, h: sticky, type: mod}
    "&sk RCTRL": {t: Ctrl, h: sticky, type: mod}
    "&sk LALT": {t: Alt, h: sticky, type: mod}
    "&sk RALT": {t: Alt, h: sticky, type: mod}
    "&sk LGUI": {t: Gui, h: sticky, type: mod}
    "&sk RGUI": {t: Gui, h: sticky, type: mod}

  trans_legend: { "t": "", "type": "trans" }

  zmk_combos:
    combo_cut: { align: bottom, o: 0.15 }
    combo_ldrsh: { align: top, o: 1.35 }

    combo_lt: { hidden: true }
    combo_gt: { hidden: true }
    combo_lbrc: { hidden: true }
    combo_rbrc: { hidden: true }

  zmk_keycode_map:
    # custom mappings
    LALT: Alt
    RALT: Alt
    LCTRL: Ctrl
    RCTRL: Ctrl
    LGUI: Gui
    RGUI: Gui
    LSHFT: Shift
    RSHFT: Shift

    BSPC: Bspc
    DEL: Del
    ESC: Esc
    RET: Enter
    SPACE: Spc
    TAB: Tab

    PG_UP: PgUp
    PG_DN: PgDn
    INS: Ins
    HOME: Home
    END: End

    UP: ↑
    DOWN: ↓
    LEFT: ←
    RIGHT: →

    C_MUTE: $$mdi:volume-off$$
    C_PP: $$mdi:play-pause$$
    C_VOL_UP: $$mdi:volume-high$$
    C_VOL_DN: $$mdi:volume-medium$$
    C_NEXT: $$mdi:skip-forward$$
    C_PREV: $$mdi:skip-backward$$
    PAUSE_BREAK: $$mdi:pause$$

    # defaults
    AMPERSAND: "&"
    AMPS: "&"
    APOS: "'"
    APOSTROPHE: "'"
    ASTERISK: "*"
    ASTRK: "*"
    AT: "@"
    AT_SIGN: "@"
    BACKSLASH: \
    BSLH: \
    CARET: ^
    COLON: ":"
    COMMA: ","
    DLLR: $
    DOLLAR: $
    DOT: .
    DOUBLE_QUOTES: '"'
    DQT: '"'
    EQUAL: "="
    EXCL: "!"
    EXCLAMATION: "!"
    FSLH: /
    GRAVE: "`"
    GREATER_THAN: ">"
    GT: ">"
    HASH: "#"
    LBKT: "["
    LBRC: "{"
    LEFT_BRACE: "{"
    LEFT_BRACKET: "["
    LEFT_PARENTHESIS: (
    LESS_THAN: <
    LPAR: (
    LT: <
    MINUS: "-"
    NON_US_BACKSLASH: \
    NON_US_BSLH: "|"
    NON_US_HASH: "#"
    NUHS: "#"
    PERCENT: "%"
    PERIOD: .
    PIPE: "|"
    PIPE2: "|"
    PLUS: +
    POUND: "#"
    PRCNT: "%"
    QMARK: "?"
    QUESTION: "?"
    RBKT: "]"
    RBRC: "}"
    RIGHT_BRACE: "}"
    RIGHT_BRACKET: "]"
    RIGHT_PARENTHESIS: )
    RPAR: )
    SEMI: ;
    SEMICOLON: ;
    SINGLE_QUOTE: "'"
    SLASH: /
    SQT: "'"
    STAR: "*"
    TILDE: "~"
    TILDE2: "~"
    UNDER: _
    UNDERSCORE: _
  zmk_combos: {}
draw_config:
  append_colon_to_layer_header: false
  dark_mode: auto
  footer_text: "hollowhemlock/zmk-config"
  key_w: 60.0
  key_h: 56.0
  split_gap: 30.0
  combo_w: 28.0
  combo_h: 26.0
  key_rx: 6.0
  key_ry: 6.0
  n_columns: 1
  separate_combo_diagrams: false
  combo_diagrams_scale: 2
  inner_pad_w: 2.0
  inner_pad_h: 2.0
  outer_pad_w: 30.0
  outer_pad_h: 30.0
  line_spacing: 1.2
  arc_radius: 6.0
  small_pad: 2.0
  legend_rel_x: 0.0
  legend_rel_y: 0.0
  draw_key_sides: false
  key_side_pars:
    rel_x: 0
    rel_y: 4
    rel_w: 12
    rel_h: 12
    rx: 4
    ry: 4
  svg_extra_style: |
    /* Merged layer corner position colors */
    text.tl, use.tl { fill: #e5c07b; }  /* top-left: function - yellow */
    text.tr, use.tr { fill: #61afef; }  /* top-right: utility - blue */
    text.bl, use.bl { fill: #98c379; }  /* bottom-left: numbers - green */
    text.br, use.br { fill: #c678dd; }  /* bottom-right: nav - purple */
    /* Modifier keys - black to match layer 1 */
    text.mod { fill: #000000; }
  shrink_wide_legends: 7
  style_layer_activators: true
  glyph_tap_size: 14
  glyph_hold_size: 12
  glyph_shifted_size: 10
  glyphs:
    mdi: https://raw.githubusercontent.com/Templarian/MaterialDesign/master/svg/{glyph_name}.svg