/*                KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

/* Gaming Layer */
#define COMBO_TERM_GAM_FAST 20
#define COMBO_TERM_GAM_SLOW 35

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <100>;

// Verticals
ZMK_COMBO(n1,  &kp N1,      LT4 LM4,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n2,  &kp N2,      LT3 LM3,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n3,  &kp N3,      LT2 LM2,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n4,  &kp N4,      LT1 LM1,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n5,  &kp N5,      LT0 LM0,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n6,  &kp N6,      LM4 LB4,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n7,  &kp N7,      LM3 LB3,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n8,  &kp N8,      LM2 LB2,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n9,  &kp N9,      LM1 LB1,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(n0,  &kp N0,      LM0 LB0,     GAM, COMBO_TERM_GAM_FAST)

// Horizontal
/* Avoid combos between these keys. They are likely activated simultaneously.
  ╭─────────────────────╮
  │ --- LT3 LT2 LT1 --- │
  │ LM4 LM3 LM2 LM1 --- │
  │ --- --- --- --- --- │
  ╰───────╮ LH2 LH1 LH0 │
          ╰─────────────╯  */
ZMK_COMBO(t,  &kp T,      LT1 LT0,     GAM, COMBO_TERM_GAM_SLOW)
ZMK_COMBO(g,  &kp G,      LM1 LM0,     GAM, COMBO_TERM_GAM_SLOW)
ZMK_COMBO(b,  &kp B,      LB1 LB0,     GAM, COMBO_TERM_GAM_SLOW)

ZMK_COMBO(esc_gaming,  &kp ESC,      LT4 LT3,     GAM, COMBO_TERM_GAM_FAST)
ZMK_COMBO(lgui,  &kp LGUI,      LB4 LB3,     GAM, COMBO_TERM_GAM_FAST)

// Right hand - disable require-prior-idle for sys
#undef COMBO_HOOK
#define COMBO_HOOK
ZMK_COMBO(sys_gam, &mo SYS, RT0 RT1, GAM, 50)
